server:
    port: 8083

spring:
    application:
        name: api-gateway
    main:
        web-application-type: reactive

    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        # Auth Routes
                        - id: auth-service
                          uri: http://localhost:8084
                          predicates:
                              - Path=/api/v1/auth/**
                          filters:
                              - StripPrefix=3

                        - id: auth-service-docs
                          uri: http://localhost:8084
                          predicates:
                              - Path=/docs/v1/auth/api-docs
                          filters:
                              - StripPrefix=3

                        # Debug route
                        - id: debug-echo-route
                          uri: https://postman-echo.com
                          predicates:
                              - Path=/echo/**
                          filters:
                              - StripPrefix=1
                              - JwtValidation

springdoc:
    enable-native-support: true
    api-docs:
        enabled: true
    swagger-ui:
        enabled: true
        path: /swagger-ui.html
        urls:
            - name: Auth Service
              url: /docs/v1/auth/api-docs

grpc:
    client:
        auth-service:
            address: "static://localhost:9010"
            negotiationType: PLAINTEXT
            enableKeepAlive: true
            keepAliveWithoutCalls: true

logging:
    level:
        org.springframework.cloud.gateway: DEBUG
        reactor.netty: DEBUG
        com.example.api_gateway: DEBUG
        net.devh.boot.grpc: DEBUG
